body {
    font-family: "Poppins", sans-serif;
    background-image: url(https://img.freepik.com/vetores-gratis/cartas-de-jogar-de-cassino-com-fundo-de-simbolos_1017-23143.jpg?size=626&ext=jpg);
    position:relative; top:0px; left:0px;
    background-size: 100%;
}

.feedbackCardContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 200px auto;
    background-color: #CBDDD1;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    height: 400px;
    transition: all 0.3s ease-out;
    border: 3px solid #b3404a;
    box-shadow:
    0 0 6px 3px #fff,
    0 0 10px 6px #f0f,
    0 0 14px 9px #0ff;
    background-size: 300px 450px;
    background-image: url(https://st.depositphotos.com/1905593/2700/v/600/depositphotos_27008487-stock-illustration-king-a-queen.jpg);
    position:relative; top: 0px; left: 0px;
    background-position-x: -5px;
    background-position-y: -5px;
}

.feedbackCardContainer:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.feedbackCardContainer p {
    font-size: 18px;
    margin: 5px;
    font-weight: bolder;
  }
   
  .feedbackCardContainer img {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 30px;
  }

  .finish {
      align-self: center;
      align-items: center;
      margin: 20px auto;
      display: flex;
      flex-direction: column;
    }

    .finish p {
        margin-bottom: 20px;
    }
    
    .feedbackCardContainer button {
      background-color: rgba(0, 0, 0, 0.78);
      border: 1px solid black;
      border-radius: 30px;
      color: antiquewhite;
      font-size: large;
      margin: 8px;
      padding: 5px;
  }
